# Dependencies
node_modules/

# Environment variables
.env

# Hardhat files
artifacts/
cache/
typechain-types/
coverage/

# IDE
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*

# System Files
.DS_Store
Thumbs.db
